{% extends "Home/base.html" %}
{% load static %}

{% block tittle%}Thread{% endblock %}




{% block content %}
    <div class="section">
        <div class="list_child style=" style="margin-top:20px">
            <h1>Điều khoản và quy định</h1>
            <pre>
    Thỏa thuận cung cấp và sử dụng dịch vụ Mạng xã hội Tech Forum này
("Thỏa thuận", "Điều khoản") bắt nguồn từ Các nguyên tắc của MXH và là điều khoản
dịch vụ điều chỉnh mối quan hệ của chúng tôi với người dùng (thành viên) và những
người khác tương tác với MXH cũng như các thương hiệu, sản phẩm và dịch vụ của
MXH mà chúng tôi gọi là “Dịch vụ của MXH" hoặc "Dịch vụ”. Bằng cách sử dụng hoặc
truy cập Dịch vụ của MXH, bạn đồng ý với Thỏa thuận này.

I. Mục đích, nội dung – Điều khoản sử dụng

1. Mục đích, nội dung dịch vụ
- Mạng xã hội Tech Forum (TechForum) là nơi Thành viên chia sẻ, trao đổi thông tin về
khoa học và công nghệ về các xu hướng, thiết bị, công cụ khoa học và công nghệ.
- Mạng xã hội TechForum là nơi Thành viên giới thiệu, tìm hiểu, chia sẻ, trao đổi
thông tin về các sản phẩm khoa học công nghệ mới trên thị trường Việt Nam và
thế giới.

2. Điều khoản sử dụng
- Để truy cập và sử dụng Dịch vụ MXH TechForum, Thành viên phải đồng ý và tuân
theo các điều khoản được quy định tại Thỏa thuận này và quy định, quy chế mà MXH
TechForum liên kết, tích hợp, bao gồm.
- Khi truy cập, sử dụng MXH TechForum bằng bất cứ phương tiện (máy tính, điện thoại,
tivi, thiết bị kết nối Internet) hoặc sử dụng ứng dụng MXH TechForum thì Thành viên cũng
phải tuân theo Quy chế này.
- Để đáp ứng nhu cầu sử dụng của Thành viên, MXH TechForum không ngừng hoàn
thiện và phát triển, vì vậy các điều khoản quy định tại Thỏa thuận cung cấp và sử dụng
dịch vụ MXH TechForum có thể được cập nhật, chỉnh sửa bất cứ lúc nào mà không cần phải
thông báo trước tới Thành viên. MXH TechForum sẽ công bố rõ trên Website, diễn đàn về
những thay đổi, bổ sung đó.
II. Đăng kí tài khoản và sử dụng dịch vụ

1. Thành viên tự chịu trách nhiệm về năng lực hành vi trong việc đăng ký tài khoản và
sử dụng MXH TechForum. Trường hợp người sử dụng Internet dưới 14 tuổi muốn đăng ký
thành viên thì người giám hộ hợp pháp phải đồng ý và quyết định việc đăng ký thông tin
cá nhân của mình để thể hiện sự cho phép và chịu trách nhiệm trước pháp luật về việc
đăng ký đó.
2. Sau khi Thành viên đăng nhập vào hệ thống, Thành viên có thể thay đổi tên thành
viên. Tên thành viên phải tuân theo nội quy đặt tên theo quy định, không vi phạm những
điều cấm của Thỏa thuận này.
3. Thành viên phải đăng ký, đăng nhập để sử dụng Dịch vụ, chia sẻ thông tin trên MXH
TechForum. Mỗi Thành viên chỉ được đăng ký 1 tài khoản trên MXH.
4. Trên Website của hệ thống MXH TechForum xuất hiện link website, hoặc biểu tượng
website khác, những website này không thuộc kiểm soát hoặc sở hữu của MXH TechForum.
Việc truy cập tới các trang khác này hoàn toàn có thể gặp rủi ro, nguy hiểm. Thành viên
hoàn toàn chịu trách nhiệm rủi ro khi sử dụng website liên kết này. MXH TechForum sẽ
không chịu trách nhiệm về nội dung của bất kỳ website hoặc điểm đến nào ngoài trang
hệ thống các trang web của MXH TechForum.
III. Các nội dung cấm trao đổi và chia sẻ trên mạng xã hội

Khi sử dụng các dịch vụ của hệ thống MXH TechForum, nghiêm cấm Thành viên thực hiện
một số hành vi bao gồm nhưng không giới hạn sau:
1. Lợi dụng việc cung cấp, trao đổi, sử dụng thông tin trên MXH TechForum nhằm mục đích:
- Chống lại Nhà nước Cộng hoà Xã hội Chủ nghĩa Việt Nam; gây phương hại đến an
ninh quốc gia, trật tự, an toàn xã hội; phá hoại khối đại đoàn kết toàn dân; tuyên truyền
chiến tranh xâm lược, khủng bố; gây hận thù, mâu thuẫn giữa các dân tộc, sắc tộc, chủng
tộc, tôn giáo;
- Tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan,
phá hoại thuần phong, mỹ tục của dân tộc.
- Tuyệt đối không bàn luận, đăng tải các nội dung về các vấn đề chính trị.
2. Thành viên lợi dụng việc sử dụng hệ thống MXH TechForum nhằm tiết lộ bí mật nhà
nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác do pháp luật quy
định bằng bất cứ hình thức nào trên hệ thống website MXH TechForum.
3. Quảng cáo, tuyên truyền, mua bán hàng hoá, dịch vụ bị cấm hoặc truyền bá tác phẩm
báo chí, văn học, nghệ thuật, xuất bản phẩm bị cấm trên MXH TechForum.
4. Khi giao tiếp với người dùng khác, Thành viên quấy rối, chửi bới, đả kích, làm phiền
hay có bất kỳ hành vi thiếu văn hoá.
5. Thành viên có quyền sử dụng đối với hình ảnh của mình. Khi sử dụng hình ảnh của cá
nhân khác, Thành viên phải được sự đồng ý của cá nhân đó. Nghiêm cấm việc sử dụng
hình ảnh của người khác mà xâm phạm danh dự, nhân phẩm, uy tín của người có hình
ảnh.
6. Lợi dụng mạng xã hội MXH TechForum để thu thập thông tin của Thành viên, công bố
thông tin, tư liệu về đời tư của Thành viên khác.
7. Không được đặt tên thành viên (nick name, user name):
● Đặt tên thành viên theo tên của danh nhân, tên các vị lãnh đạo của Đảng và Nhà
nước, tên của cá nhân, tổ chức tội phạm, phản động, khủng bố hoặc tài khoản có ý
nghĩa không lành mạnh, trái với thuần phong mỹ tục.
● Tên thành viên trùng với các Điều hành viên, Quản trị viên.
● Tên thành viên cố tình trùng với thành viên khác dưới mọi hình thức, kỹ thuật.
● Tên thành viên kiểu abc1, abc2, abc3.
● Tên thành viên bao gồm các ký tự không thấy hay ẩn đi.
8. Đưa thông tin xuyên tạc, vu khống, nhạo báng, xúc phạm uy tín tới tổ chức, cá nhân
dưới bất kỳ hình thức nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc,..).
9. Nghiêm cấm quảng bá bất kỳ sản phẩm dưới bất kỳ hình thức nào, bao gồm nhưng
không giới hạn việc gửi, truyền bất kỳ thông điệp nào mang tính quảng cáo, mời gọi, thư
dây truyền, cơ hội đầu tư trên MXH TechForum.
10. Lợi dụng MXH TechForum để tổ chức các hình thức cá cược, cờ bạc hoặc các thỏa thuận
liên quan đến tiền, hiện kim, hiện vật. Chia sẻ các tài khoản fshare, megashare, tenlua,
itunes, mediafire.
11. Cản trở trái pháp luật, gây rối, phá hoại hệ thống máy chủ; Cản trở việc truy cập
thông tin và sử dụng các dịch vụ hợp pháp trên MXH TechForum.
12. Sử dụng trái phép mật khẩu, khoá mật mã của các tổ chức, cá nhân, thông tin riêng,
thông tin cá nhân và tài nguyên Internet.
13. Trực tiếp hoặc gián tiếp sử dụng bất kỳ thiết bị, phần mềm, trang web Internet, dịch
vụ dựa trên web, hoặc các phương tiện khác để gỡ bỏ, thay đổi, bỏ qua, lẩn tránh, cản
trở, hoặc phá hoại bất kỳ bản quyền, thương hiệu, hoặc các dấu hiệu về quyền sở hữu
khác được đánh dấu trên Nội dung (như logo) hoặc bất kỳ hệ thống kiểm soát dữ liệu,
thiết bị, biện pháp bảo vệ nội dung khác cũng như các biện pháp hạn chế truy cập từ các
vùng địa lý khác nhau.
14. Trực tiếp hoặc gián tiếp thông qua bất kỳ thiết bị, phần mềm, trang web Internet, dịch
vụ dựa trên web, hoặc các phương tiện khác để sao chép, tải về, chụp lại, sản xuất lại,
nhân bản, lưu trữ, phân phối, tải lên, xuất bản, sửa đổi, dịch thuật, phát sóng, trình chiếu,
hiển thị, bán, truyền tải hoặc truyền lại nội dung.
15. Tạo ra, tái tạo, phân phối hay quảng cáo một chi tiết của bất kỳ nội dung mà không
có sự đồng ý của MXH TechForum. Thành viên không được phép xây dựng mô hình kinh
doanh sử dụng các Nội dung cho dù là có hoặc không vì lợi nhuận. Nội dung được đề
cập tại MXH TechForum bao gồm nhưng không giới hạn bất kỳ văn bản, đồ họa, hình ảnh, bố
trí, giao diện, biểu tượng, hình ảnh, tài liệu âm thanh và video, và ảnh tĩnh. Ngoài ra,
chúng tôi nghiêm cấm việc tạo ra các sản phẩm phát sinh hoặc vật liệu có nguồn gốc từ
hoặc dựa trên bất kỳ Nội dung nào bao gồm dựng phim, làm video tương tự, hình nền,
chủ đề máy tính, thiệp chúc mừng, và hàng hóa.
16. Giả mạo tổ chức, cá nhân và phát tán thông tin giả mạo, thông tin sai sự thật trên
MXH TechForum xâm hại đến quyền và lợi ích hợp pháp của tổ chức, cá nhân.
17. Tạo đường dẫn trái tới tên miền hợp pháp của tổ chức, cá nhân. Tạo, cài đặt, phát tán
các phần mềm độc hại, vi rút máy tính; xâm nhập trái phép, chiếm quyền điều khiển hệ
thống thông tin, tạo lập công cụ tấn công trên Internet.
18. Tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can
thiệp vào hệ thống MXH TechForum.
19. Không được có bất kỳ hành vi nào nhằm đăng nhập trái phép hoặc tìm cách đăng
nhập trái phép hoặc gây thiệt hại cho hệ thống máy chủ MXH TechForum.
</pre>
        </div>
    </div>
    
    
{% endblock %}