{% extends "Home/base.html" %}
{% load static %}

{% block tittle%}Thread{% endblock %}




{% block content %}
    <div class="section">
        <div class="list_child style=" style="margin-top:20px">
            <h1>Danh sách thành viên</h1>           
                <table style="width: 100%">
                    <tr>
                        <th>Tài khoản</th>
                        <th>Email</th>
                        <th>Ngày tham gia</th>
                    </tr>
                    {% for item in User %}
                        <tr>
                            <td><a href="{% url 'index_user' item.username %}">{{item.username}}</a></td>
                            <td>{{item.email}}</td>
                            <td>{{item.date_joined}}</td>
                        </tr>
                    {% endfor %}
                </table>
                    
        </div>
    </div>
    
    
{% endblock %}